html,
body {
  padding: 0;
  margin: 0;
 
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.c1{
  height: auto;
}
.nav-item{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.hcolor{
  color: #d94ef5;
  font-family: 'Roboto Slab', serif;
  font-weight: 550 ;
  font-size: 15vw;
  filter: grayscale(0.2);
}
.hcolor:hover{
  filter: grayscale(0);
  cursor: pointer;
}

.h1color{
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 8vw;
}

.h2color{
  color: black;
  font-family: 'Roboto Slab', serif;
  
  font-size: 12vw;
}
.weeb{
  position: absolute;
  margin: 0;
  padding-left:85% ;
  
  width: 50%;
  height: auto;
}
.hfour{
  font-family: 'Bebas Neue', cursive;
  
  font-size: 3vh;
}


.responsive-iframe{
  width: 100% !important;
}


.para{
  font-weight: 500 !important;
}

.anime{
  
  filter: grayscale(40%);
  margin-left: 20%;
}
.anime:hover{
  filter: grayscale(0%);
}
.card{
  background-color: black;
}
.seccont{
  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.anime{
  height:180px;
  width: 180px;
}

.pinkframe{
  display: block;
}
.ant-spin-text{
  color: #d94ef5; 
  color: #514ef5;
}


.abcd{
  filter: grayscale(-20) !important;
}

.techimg{
  scale:0.8 !important;
}
.techimggit{
  scale: 1.2;
}
.hr{
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.avc{
  border-radius: 8px;
  transition: 1.5s;
  background-color: #d94ef5;
  
  transform: rotateX(-20deg);
}

.avc:hover{
  transform: rotateY(180deg) ;
  
  
}
.fnt::after{
  content: "";
  width: 4.8rem;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 130%;
  left: 0;
  margin: auto;
 
}
.fnt1::after{
  content: "";
  width: 4.8rem;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 230%;
  left: 0;
  margin: auto;
 
}
.fnt{
  background-color: transparent;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.namee{
  color: #020b16;
}
.nam::after{
  content: "";
  width: 9.8rem;
  height: 1.5px;
  background: #020b16;
  position: absolute;
  top: 40%;
  left: 10%;
  margin: auto;
  transition: 1s;
}
.nam:hover::before{
  
  width: 0.2rem;
  
}
.nam:hover::after{
  
  width: 0.2rem;
  
}
.nam::before
{
  content: "";
  width: 9.8rem;
  height: 1.5px;
  background: #020b16;
  position: absolute;
  top: 38%;
  left: 7%;
  margin: auto;
  transition: 1s;
}
.fnt1{
  background-color: transparent;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.typee{
  color:white;
}

#Layer_1{
  margin-left: 25%;
}
.avc{
  width: 30%;
}

.lap{
  
  transition: 1s;
}
.lap:hover{
  transform: translateY(-10px);
}
.eff{
  display: block;
}

.c1{
  height: auto;
}
.woah{
  font-family: 'Bebas Neue', cursive;
  color:#d94ef5
}
.woah1{
  font-family: 'Bebas Neue', cursive;
  color:white;
}
.swo{
  font-size: 30px;
}


.two{
  height: 100vh;
}

.cmt{
  transition: 0.7s;
  width:100%;
  border-radius: 9px;
}

.cmt:hover{
  background-color: rgba(213, 213, 213, 0.426) !important;
}
.profcard{
  width: 70% !important;
  margin-left: 15%;
  box-shadow: 0px 63px 154px -20px rgba(7, 33, 66, 0.5);
  border-radius: 8px;
  background-color: white;
}

.profimg{
  border-radius: 8px;
}
.one{
  height: 100vh;
}
.soci{
  color: #020b1683 !important;
}
.insta{
  transition: 1s;
}
.linked{
  transition: 1s;
}
.git{
  transition: 1s;
}
.mail{
  transition: 1s;
}
.insta:hover{
  transform: translateY(-10px);
  color: red !important;
  /* background-color: transparent !important; */
  /* background-image: linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13584, #e1306c, #fd1d1d) !important;
  background-size: 100% !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; 
  -moz-text-fill-color: transparent !important; */
}
.linked:hover{
  transform: translateY(-10px);
  color: #0077b5 !important;
}
.git:hover{
  transform: translateY(-10px);
  color: black !important;
}
.mail:hover{
  transform: translateY(-10px);
  color:darkblue !important;
}
.cbtn{
  margin-top: 9%;
  margin-left: 50%;
}
@media only screen and (max-width: 600px) {
  .cbtn{
    margin-top: 5%;
    margin-left: 15%;
  }
  .two{
    height: 210vh;
  }
  .one{
    height: 150vh;
  }
  .c1{
    height: 150vh;
  }
  .h2color{
    font-size: 12vh;
  }
  
  .eff{
    display: none;
  }
  .c1{
    height: auto;
  }
  .anime{
    margin-left: auto;
  }
  

  .seccont{
  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .lap{
    padding-left: 60px;
  }
  #Layer_1{
    margin-left: 28%;
  }
  .avc{
    width: 50%;
  }



  .nam::after{
    content: "";
    width: 9.8rem;
    height: 1.5px;
    background: #020b16;
    position: absolute;
    top: 40%;
    left: 20%;
    margin: auto;
    transition: 1s;
  }
  .nam:hover::before{
    
    width: 0.2rem;
    
  }
  .nam:hover::after{
    
    width: 0.2rem;
    
  }
  .nam::before
  {
    content: "";
    width: 9.8rem;
    height: 1.5px;
    background: #020b16;
    position: absolute;
    top: 38%;
    left: 24%;
    margin: auto;
    transition: 1s;
  }
  
}

