html,
body {
  padding: 0;
  margin: 0;
 
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.c1{
  height: auto;
}
.nav-item{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.hcolor{
  color: #d94ef5;
  font-family: 'Roboto Slab', serif;
  font-weight: 550 ;
  font-size: 15vw;
  filter: grayscale(0.2);
}
.hcolor:hover{
  filter: grayscale(0);
  cursor: pointer;
}

.h1color{
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 8vw;
}

.h2color{
  color: black;
  font-family: 'Roboto Slab', serif;
  
  font-size: 12vw;
}
.weeb{
  position: absolute;
  margin: 0;
  padding-left:85% ;
  
  width: 50%;
  height: auto;
}
.hfour{
  font-family: 'Bebas Neue', cursive;
  
  font-size: 3vh;
}


.responsive-iframe{
  width: 100% !important;
}


.para{
  font-weight: 500 !important;
}

.anime{
  
  filter: grayscale(40%);
  margin-left: 20%;
}
.anime:hover{
  filter: grayscale(0%);
}
.card{
  background-color: black;
}
.seccont{
  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.anime{
  height:180px;
  width: 180px;
}

.pinkframe{
  display: block;
}
.ant-spin-text{
  color: #d94ef5; 
  color: #514ef5;
}


.abcd{
  filter: grayscale(-20) !important;
}

.techimg{
  scale:0.8 !important;
}
.techimggit{
  scale: 1.2;
}
.hr{
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.avc{
  border-radius: 8px;
  transition: 1.5s;
  background-color: #d94ef5;
  
  transform: rotateX(-20deg);
}

.avc:hover{
  transform: rotateY(180deg) ;
  
  
}
.fnt::after{
  content: "";
  width: 4.8rem;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 130%;
  left: 0;
  margin: auto;
 
}
.fnt1::after{
  content: "";
  width: 4.8rem;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 230%;
  left: 0;
  margin: auto;
 
}
.fnt{
  background-color: transparent;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.fnt1{
  background-color: transparent;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.typee{
  color:white;
}

#Layer_1{
  margin-left: 25%;
}
.avc{
  width: 30%;
}

.lap{
  
  transition: 1s;
}
.lap:hover{
  transform: translateY(-10px);
}
.eff{
  display: block;
}

.c1{
  height: auto;
}
.woah{
  font-family: 'Bebas Neue', cursive;
  color:#d94ef5
}
.woah1{
  font-family: 'Bebas Neue', cursive;
  color:white;
}
.swo{
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .c1{
    height: 150vh;
  }
  .h2color{
    font-size: 12vh;
  }
  
  .eff{
    display: none;
  }
  .c1{
    height: auto;
  }
  .anime{
    margin-left: auto;
  }
  

  .seccont{
  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .lap{
    padding-left: 60px;
  }
  #Layer_1{
    margin-left: 28%;
  }
  .avc{
    width: 50%;
  }
  
}

