html,
body {
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-item{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.hcolor{
  color: #d94ef5;
  font-family: 'Roboto Slab', serif;
  font-weight: 550;
  font-size: 15vw;
}

.h1color{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 8vw;
}

.h2color{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}
.hfour{
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 25px;
}


.responsive-iframe{
  width: 100% !important;
}


